:root {
	--text-quote-author-color: #4F4F4F;
	--text-quote-type-color: #828282;
}

.quote-author {
	@apply p-4 flex items-center justify-between transition-[background-color] mt-4;

	&__name {
		@apply transition-colors;
		color: var(--text-quote-author-color);
	}

	&__type {
		@apply transition-colors;
		color: var(--text-quote-type-color);
	}

	&:hover {
		@apply bg-[#333333];

		--text-quote-author-color: #f2f2f2;
		--text-quote-type-color: #828282;
	}

}